<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recipe Finder</title>
    <link rel="stylesheet" href="/styles/form.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Recipe  Finder</h1>
    <h2>Search for a recipe</h2>
    <form id='mainForm'method='post' action='/recipe'>
      <p>What do you want to cook?</p>
      <p>Ingredients: <input name='ingredients'></p>
      <p>Recipe type: <input name='recipe'></p>
      <p><input type='submit' value='Find Recipes'></p>
    </form>
  </body>
</html>
