<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
    <link rel="stylesheet" href="/styles/form.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Recipe Finder</h1>
    <h2>Here are your recipes for {{ recipe }} with {{ ingredients }}</h2>
    {% for result in results.results %}
      <section class='recipeResults'>
        <div class='image'><img src='{{ result.thumbnail}}'></div>
        <div class='title'><p><a href='{{ result.href }}'>{{ result.title }}</a></p></div>
        <div class='ingredients'><p>{{ result.ingredients }}</p></div>
      </section>
    {% endfor %}
    <form class="button" action="/" method="get">
      <input type="submit" value="Cook other recipe">
    </form>
  </body>
</html>
